# SQL query in SQLAlchemy

In [2]:
cd C:\Users\Elamparithi\PycharmProjects\Utube_DHW_5

C:\Users\Elamparithi\PycharmProjects\Utube_DHW_5

C:\Users\Elamparithi\PycharmProjects\Utube_DHW_5\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [10]:
# Keep Secrets separate
from dotenv import load_dotenv
from os import getenv
load_dotenv('.secrets')

pre_conn = getenv('pre_conn')
schema_name = 'youtube_local' #getenv('DB_NAME2')
db_url = f'{pre_conn}{schema_name}'

print(db_url)

mysql+pymysql://guvi_user:1king#lanka@localhost:3306/youtube_local

#### checking the possibility of running the SQL query in SQLAlchemy

In [11]:
import pandas as pd
from sqlalchemy import create_engine, text

In [12]:
engine = create_engine(db_url)

In [13]:
try:
    with engine.connect() as connection:
        print("Connected to the database!")
except Exception as e:
    print(f"Database connection failed: {e}")

Connected to the database!

In [14]:
query = """
SELECT channels.channel_name, videos.video_name, videos.like_count AS Highest_Likes FROM videos 
        JOIN channels ON videos.channel_id = channels.channel_id
        WHERE videos.like_count = (SELECT MAX(v.like_count) FROM videos v WHERE videos.channel_id = v.channel_id)
        ORDER BY Highest_Likes DESC;"""

In [15]:
try:
    df = pd.read_sql_query(text(query), engine)
    if df.empty:
        print("The query executed successfully, but returned no data.")
    else:
        print("RETURNED SOME DATA") 
except Exception as e:
    print(f"Error executing query: {e}")

RETURNED SOME DATA

In [16]:
df

,channel_name,video_name,Highest_Likes
0,SHIVA SAI ENTERTAINMENT CHANNEL,ButtaBomma Full Video Song (4K) | #AlaVaikunth...,5575204
1,Madras foodie,‡ÆÆ‡Æ£‡Øç ‡Æ™‡Ææ‡Æ©‡Øà ‡Æï‡Øã‡Æ¥‡Æø ‡Æü‡ÆÆ‡Øç ‡Æ™‡Æ∞‡Øã‡Æü‡Øç‡Æü‡Ææ DUM PAROTTA FROM CUR...,799288
2,Sahi Siva,Naan Kudikka Poren - Ratty Adhiththan feat.@Sa...,721237
3,Behindwoods TV,"World-Breaking: Kamal, Suriya in Leoüî•Lokesh's ...",201029
4,GUVI,How a CPU Works,135058